{contentpageheading __header='Translate content item' subheader=$page.title}

{form cssClass='z-form'}

{contentformframe}

{if $isTranslatable}
<fieldset id="contentTranslateOriginal" class="z-linear">
    <legend>{gt text="Original content"}</legend>
    <div class="z-formrow">
        {include file=$translateOriginalTemplate}
    </div>
</fieldset>

<fieldset id="contentTranslateNew" class="z-linear">
    <legend>{gt text="Translated content"} ({$language})</legend>
    {include file=$translateNewTemplate}
</fieldset>

<div class="z-buttons z-formbuttons">
    {formbutton commandName="prev" __text="Previous"}
    {formbutton commandName="next" __text="Next"} &mdash;
    {formbutton commandName="skip" __text="Skip"}
    {formbutton commandName="quit" __text="Save"}
    {if $access.pageDeleteAllowed}{formbutton commandName="delete" __text="Delete" __confirmMessage='Delete'}{/if}
    {formbutton commandName="cancel" __text="Cancel"}
    {formdropdownlist id='translationStep' items=$translationInfo.items autoPostBack='1' onSelectedIndexChanged='handleCommand'}
</div>
{else}
<p class="z-warningmsg">{gt text="Error! There is nothing to translate for this content type."}</p>

<div class="z-buttons z-formbuttons">
{formbutton commandName="cancel" __text="Back"}
</div>
{/if}

{/contentformframe}

{/form}
