{contentpagepath pageId=$page.id language=$page.language assign='subheader'}
{contentpageheading __header='Add new content to page' subheader=$subheader}

{form cssClass='z-form z-linear'}

{formsetinitialfocus inputId='contentType'}
{formerrormessage id='error'}

{contentformframe}

<p>{gt text="Please select the type of content you want to add to your page."}</p>

<fieldset>
    <legend>{gt text="Select content type"}</legend>
    {contentcontenttypeselector id='contentType'}
</fieldset>

<div class="z-buttons">
    {formbutton commandName="create" __text="Create"}
    {formbutton commandName="cancel" __text="Cancel"}
</div>

{/contentformframe}

{/form}
