{# purpose of this template: sitemap view #}
{% extends 'ZikulaContentModule::base.html.twig' %}
{% block title __('Sitemap') %}
{% block admin_page_icon 'sitemap' %}
{% block content %}
    <div class="zikulacontentmodule-page zikulacontentmodule-sitemap">
        <h3>{{ __f('Welcome to the contents for %sitename%', {'%sitename%': getModVar('ZConfig', 'sitename')}, 'zikula') }}</h3>
        {% if pages|length > 0 %}
            {{ include('@ZikulaContentModule/Page/sitemapInclude.html.twig') }}
        {% else %}
            <p>{{ __('No pages found.') }}</p>
        {% endif %}
    </div>
{% endblock %}
