TODO
{usergetvar name="avatar" uid=$authorId assign="avatar"}
{usergetvar name="extrainfo" uid=$authorId assign="extrainfo"}
{usergetvar name="realname" uid=$authorId assign="realname"}
<div class="content-author">
    <h3>{gt text="By"} {if $realname}{$realname}{else}{usergetvar name="uname" uid=$authorId}{/if}</h3>

    <div class="z-clearfix">
        {if isset($avatar) AND !empty($avatar) AND $avatar neq 'blank.gif' AND $avatar neq 'gravatar.gif'}
        <img src="{$baseurl}images/avatar/{$avatar}" alt="{usergetvar name="realname" uid=$authorId}" class="authoravatar" />
        {/if}
        {if $extrainfo}
        <p>{usergetvar name="extrainfo" uid=$authorId}</p>
        {/if}
    </div>
</div>
