TODO
<div class="z-formrow">
    <label>{gt text="The target address"}</label> {$data.addressText}
</div>

<div class="z-formrow">
    <label>{gt text="Header to be shown above the map"}</label> {$data.topText}
</div>

<div class="z-formrow">
    <label>{gt text="Description to be shown below the map"}</label> {$data.bottomText}
</div>
