TODO
<div class="z-formrow">
    {formlabel for='addressText' __text='The target address'}
    {formtextinput id='addressText' maxLength='255' group='translated'}
</div>

<div class="z-formrow">
    {formlabel for='topText' __text='Header to be shown above the map'}
    {formtextinput id='topText' group='translated' cols='60' rows='8'}
</div>

<div class="z-formrow">
    {formlabel for='bottomText' __text='Description to be shown below the map'}
    {formtextinput id='bottomText' textMode='multiline' group='translated' cols='60' rows='8'}
</div>
