TODO
<div class="content-slideshare">
    <div class="content-slideshare-object">
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/{$id}" width="{$width}" height="{$height}" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>
    </div>
    <p>{$text}</p>
</div>
