TODO
{if $useiframe}
<div class="content-paragraph">
<iframe 
 src="{$iframeSrc}" 
 name="{$iframeName}" 
 title="{$iframeTitle}" 
 style="{$iframeStyle}" 
 width="{$iframeWidth}" 
 height="{$iframeHeight}" 
 frameborder="{$iframeBorder}" 
 scrolling="{$iframeScrolling}">
 {if $iframeAllowTransparancy}allowtransparancy{/if}
</iframe>
</div>
{else}
<div class="content-paragraph">
    {$text|raw}
</div>
{/if}
