TODO
{if $displayMode=='inline'}
<div class="content-video content-youtube embed-responsive embed-responsive-{#16by9#}4by3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{$videoId}?feature=player_detailpage&amp;rel={$showRelated}&amp;autoplay={$autoplay}" frameborder="0" allowfullscreen></iframe>
    <p><small>{$text|safetext}&nbsp;|&nbsp;<a href="http://www.youtube.com/v/{$videoId}&amp;rel={$showRelated}&amp;autoplay={$autoplay}">YouTube.com</a></small></p>
</div>
{else}
{pageaddvar name="javascript" value="prototype"}
{pageaddvar name="javascript" value="modules/Content/lib/vendor/lightwindow/javascript/lightwindow.js"}
{pageaddvar name="stylesheet" value="modules/Content/lib/vendor/lightwindow/css/lightwindow.css"}

{* Not allowed in allow_url_fopen=0 case so disabled
{assign var="image" value="http://img.youtube.com/vi/$videoId/default.jpg"}
{assign var="imageSize" value=$image|getimagesize}
*}

<dl class="content-video content-youtube">
    <dt>
        <a title="{$text|safetext}" href="http://www.youtube.com/v/{$videoId}&amp;rel={$showRelated}&amp;autoplay={$autoplay}" class="lightwindow page-options" params="lightwindow_loading_animation=false"><img src="https://img.youtube.com/vi/{$videoId}/default.jpg" alt="{$text|safetext}" /></a>
    </dt>
    <dd>{$text|safetext}</dd>
    <dd><a title="{$text|safetext}" href="http://www.youtube.com/v/{$videoId}&amp;rel={$showRelated}&amp;autoplay={$autoplay}" class="play-icon lightwindow page-options" params="lightwindow_loading_animation=false">{gt text="Play Video"}</a></dd>
</dl>
{/if}
