{# purpose of this template: pages index view #}
{% extends routeArea == 'admin' ? 'ZikulaContentModule::adminBase.html.twig' : 'ZikulaContentModule::base.html.twig' %}
{% block title __('Pages') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the page section of the Content application.') }}</p>
{% endblock %}
