{# purpose of this template: display an author element #}
{% set profileLink = author.uid|profileLinkByUserId %}
<div class="content-author">
    <h3>{% trans with {'%user%': profileLink|raw} %}By %user%{% endtrans %}</h3>
    {% if showAvatar|default %}
        {% if avatarWidth|default %}
            <p class="avatar">{{ userAvatar(author.uid, {width: avatarWidth, rating: 'g'}) }}</p>
        {% else %}
            <p class="avatar">{{ userAvatar(author.uid, {rating: 'g'}) }}</p>
        {% endif %}
    {% endif %}
    {% if showMessageLink|default and currentUser.loggedIn %}
        {% set sendMessageUrl = author.uid|messageSendLink(urlOnly=true) %}
        {% if sendMessageUrl != '#' %}
            <a href="{{ sendMessageUrl }}" title="{{ 'Send private message to %userName%'|trans({'%userName%': author.uname})|e('html_attr') }}"><i class="fa fa-envelope"></i></a>
        {% endif %}
    {% endif %}
</div>
