{# purpose of this template: display a block element #}
{% trans_default_domain 'contentTypes' %}
{% if content|default %}
    <div class="content-block">
        {{ content|raw }}
    </div>
{% endif %}
