{# purpose of this template: display a controller element #}
{% trans_default_domain 'contentTypes' %}
{% if content|default %}
    <div class="content-controller">
        {{ content|raw }}
    </div>
{% endif %}
