{# purpose of this template: display a HTML element #}
{% trans_default_domain 'contentTypes' %}
<div class="content-paragraph">
    {{ text|notifyFilters('zikulacontentmodule.filter_hooks.contentitems')|safeHtml }}
</div>
