{# purpose of this template: display a quote element #}
<div class="content-quote">
    <blockquote class="blockquote">
        <p class="mb-0">&raquo;{{ text|nl2br|notifyFilters('zikulacontentmodule.filter_hooks.contentitems')|safeHtml }}&laquo;</p>
        {% if source|default %}
            <footer class="blockquote-footer"><a href="{{ source|e('html_attr') }}">{{ description|default(source)|safeHtml }}</a></footer>
        {% endif %}
    </blockquote>
</div>
