/* view pages */
div#z-maincontent.z-module-content table tbody tr td {
    vertical-align: top;
}

/* display pages */
.zikulacontentmodule-display p.managelink {
    margin: 18px 0 0 18px;
}

.tree-container {
    border: 1px solid #ccc;
    /*width: 400px;*/
    float: left;
    margin-right: 16px;
}


/* validation */
div.form-group input:required, div.form-group textarea:required, div.form-group select:required {
    /*border: 1px solid #00a8e6;*/
    background-color: #fff;
}
div.form-group input:required:valid, div.form-group textarea:required:valid, div.form-group select:required:valid {
    /*border: 1px solid green;*/
}
div.form-group input:required:invalid, div.form-group textarea:required:invalid, div.form-group select:required:invalid {
    border: 1px solid red;
}

/* hide legends if tabs are used as both contain the same labels */
div.content-edit .tab-pane legend {
    display: none;
}

/* edit pages */
div.zikulacontentmodule-relation-leftside {
    float: left;
    width: 25%;
}

div.zikulacontentmodule-relation-rightside {
    float: right;
    width: 65%;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 150px;
}

.ui-autocomplete-loading {
    background: white url("../../../../../../web/modules/zikulausers/images/ajax/indicator_arrows.gif") right center no-repeat;
}

.ui-autocomplete .suggestion {
    margin: 0;
    padding: 0.2em 0 0.2em 20px;
    list-style-type: none;
    line-height: 1.4em;
    cursor: pointer;
    display: block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-color: #fff;
}

.ui-autocomplete .suggestion:before {
    content: "\f0da";
    font-family: 'FontAwesome';
    font-style: normal;
    color: #7db441;
    margin-right: 15px;
    position: absolute;
    left: 20px;
}

.ui-autocomplete .suggestion img {
    max-width: 20px;
    max-height: 20px;
}

.ui-autocomplete .suggestion .ui-state-active {
    background-color: #ffb;
}

.ui-autocomplete .suggestion .media-body {
    font-size: 10px;
    color: #888;
}
.ui-autocomplete .suggestion .media-body .media-heading {
    font-size: 12px;
    line-height: 1.2em;
}

/** fix dropdown visibility inside responsive tables */
div.zikulacontentmodule-view .table-responsive {
    min-height: 300px;
}
div.zikulacontentmodule-view form.zikulacontentmodule-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.zikulacontentmodule-view form.zikulacontentmodule-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.zikulacontentmodule-view form.zikulacontentmodule-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.zikulacontentmodule-view form.zikulacontentmodule-quicknav fieldset label {
    margin-right: 5px;
}

div.zikulacontentmodule-view .avatar img {
    width: auto;
    max-height: 24px;
}

@media (max-width: 767px) {
    div.form-group div.category-selector {
        height: auto;
        padding: 0;
    }
}

div.zikulacontentmodule-history .table-responsive .table > tbody > tr > td.diff-old {
    background-color: #ffecec !important;
}
div.zikulacontentmodule-history .table-responsive .table > tbody > tr > td.diff-new {
    background-color: #eaffea !important;
}
div.zikulacontentmodule-history .img-fluid {
    max-width: 20px;
}

.vakata-context, .vakata-context ul {
    z-index: 100;
}
