{# purpose of this template: Display a list of pages #}
{% if pages|length > 0 %}
<ul{% if isDropdown|default %} class="dropdown-menu"{% endif %}>
    {% if includeSelf|default(false) == true %}
        <li class="nav-item"{% if context|default == 'menuBlock' %} role="presentation"{% endif %}>
            <a href="{{ path('zikulacontentmodule_page_display', {slug: page.slug}) }}" title="{{ page.title|e('html_attr') }}" class="nav-link{#% if isActivePage|default(false) %} active{% endif %#}">{% trans %}Overview{% endtrans %}</a>
        </li>
    {% endif %}
    {% for page in pages|filter(p => p.active and zikulacontentmodule_hasReadAccess(p)) %}
        {{ include('@ZikulaContentModule/Block/pageListIncludeEntry.html.twig', {page: page, context: context|default}) }}
    {% endfor %}
</ul>
{% endif %}
