{# purpose of this template: Display subpages within an external context #}
{% trans_default_domain 'zikulacontentmodule' %}
<div class="content-block content-subpages">
{% if items|length > 0 %}
    {{ include('@ZikulaContentModule/Block/pageListInclude.html.twig', {pages: items, context: 'subpagesBlock'}) }}
{% else %}
    <p>{% trans %}No subpages found.{% endtrans %}</p>
{% endif %}
</div>
