{# purpose of this template: reusable display of entity categories #}
{% if obj.categories is defined %}
    {% if tabs|default(false) == true %}
        <div role="tabpanel" class="tab-pane fade" id="tabCategories" aria-labelledby="categoriesTab">
            <h3>{{ __('Categories') }}</h3>
    {% else %}
        <h3 class="categories">{{ __('Categories') }}</h3>
    {% endif %}
    <ul class="category-list">
    {% for catMapping in obj.categories %}
        <li>{{ catMapping.category.display_name[app.request.locale]|default(catMapping.category.name) }}</li>
    {% endfor %}
    </ul>
    {% if tabs|default(false) == true %}
        </div>
    {% endif %}
{% endif %}
