{% if pages|length > 0 %}
<ul{% if isDropdown|default %} class="dropdown-menu"{% endif %}>
    {% if includeSelf|default(false) == true %}
        <li{% if context|default == 'menuBlock' %} role="presentation"{% endif %}{% if isActivePage|default(false) %} class="active"{% endif %}>
            <a href="{{ path('zikulacontentmodule_page_display', {slug: page.slug}) }}" title="{{ page.title|e('html_attr') }}">{{ __('Overview') }}</a>
        </li>
    {% endif %}
    {% for page in pages if zikulacontentmodule_hasReadAccess(page) %}
        {{ include('@ZikulaContentModule/Block/pageListIncludeEntry.html.twig', {page: page, context: context|default}) }}
    {% endfor %}
</ul>
{% endif %}
