{# purpose of this template: Display pages within an external context #}
{% trans_default_domain 'page' %}
{% for page in items %}
    <h3>{{ page|zikulacontentmodule_formattedTitle }}</h3>
    <p><a href="{{ path('zikulacontentmodule_page_display', {'slug': page.slug}) }}" title="{{ 'Read more'|trans|e('html_attr') }}">{% trans %}Read more{% endtrans %}</a>
    </p>
{% endfor %}
