{# purpose of this template: pages index view #}
{% extends routeArea == 'admin' ? '@ZikulaContentModule/adminBase.html.twig' : '@ZikulaContentModule/base.html.twig' %}
{% trans_default_domain 'page' %}
{% block title 'Pages'|trans %}
{% block admin_page_icon 'home' %}
{% block content %}
    <div class="zikulacontentmodule-page zikulacontentmodule-index">
        <p>{% trans %}Welcome to the page section of the Content application.{% endtrans %}</p>
    </div>
{% endblock %}
