{# purpose of this template: inclusion template for display of related content items #}
{% set hasAdminPermission = permissionHelper.hasComponentPermission('contentItem', constant('ACCESS_EDIT')) %}
<h5>
    {{ item|zikulacontentmodule_formattedTitle }}
</h5>
