{# purpose of this template: inclusion template for display of related searchables #}
{% set hasAdminPermission = hasPermission('ZikulaContentModule:Searchable:', '::', 'ACCESS_EDIT') %}
<h4>
    {{ item|zikulacontentmodule_formattedTitle }}
</h4>
