{# purpose of this template: pages subpages view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends '@ZikulaContentModule/' ~ baseTemplate ~ '.html.twig' %}
{% trans_default_domain 'page' %}
{% block title 'Subpages of %page%'|trans({'%page%': page|zikulacontentmodule_formattedTitle|default('Page'|trans)}) %}
{% block admin_page_icon 'child' %}
{% block content %}
    <div class="zikulacontentmodule-page zikulacontentmodule-subpages">
        <div class="row">
            <div class="col-xs-12">
                {% if page.children|length > 0 %}
                    {{ include('@ZikulaContentModule/Page/subpagesInclude.html.twig', {pages: page.children}) }}
                {% else %}
                    <p>{% trans %}No subpages found.{% endtrans %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
