services:
    # Event subscribers and listeners
    zikula_content_module.entity_lifecycle_listener:
        class: Zikula\ContentModule\Listener\EntityLifecycleListener
        arguments:
            - "@service_container"
            - "@event_dispatcher"
            - "@logger"
        tags: ['doctrine.event_subscriber']
    
    zikula_content_module.kernel_listener:
        class: Zikula\ContentModule\Listener\KernelListener
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.installer_listener:
        class: Zikula\ContentModule\Listener\InstallerListener
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.moduledispatch_listener:
        class: Zikula\ContentModule\Listener\ModuleDispatchListener
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.mailer_listener:
        class: Zikula\ContentModule\Listener\MailerListener
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.theme_listener:
        class: Zikula\ContentModule\Listener\ThemeListener
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.userlogin_listener:
        class: Zikula\ContentModule\Listener\UserLoginListener
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.userlogout_listener:
        class: Zikula\ContentModule\Listener\UserLogoutListener
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.user_listener:
        class: Zikula\ContentModule\Listener\UserListener
        arguments:
            - "@translator.default"
            - "@zikula_content_module.entity_factory"
            - "@zikula_users_module.current_user"
            - "@logger"
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.userregistration_listener:
        class: Zikula\ContentModule\Listener\UserRegistrationListener
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.users_listener:
        class: Zikula\ContentModule\Listener\UsersListener
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.group_listener:
        class: Zikula\ContentModule\Listener\GroupListener
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.thirdparty_listener:
        class: Zikula\ContentModule\Listener\ThirdPartyListener
        arguments:
            - "@filesystem"
            - "@request_stack"
        tags: ['kernel.event_subscriber']
    
    zikula_content_module.workflow_events_listener:
        class: Zikula\ContentModule\Listener\WorkflowEventsListener
        arguments:
            - "@zikula_permissions_module.api.permission"
        tags: ['kernel.event_subscriber']
    
    stof_doctrine_extensions.listener.sluggable:
        class: '%stof_doctrine_extensions.listener.sluggable.class%'
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, ["@annotation_reader"] ]
            - [ setTransliterator, [[Zikula\ContentModule\Helper\SlugTransliterator, 'transliterate']]]
    
