body {
    background-color: #ddd;
    margin: 10px;
    text-align: left;
}

#zikulacontentmoduleItemContainer {
    background-color: #eee;
    height: 300px;
    overflow: auto;
    padding: 5px;
}

#zikulacontentmoduleItemContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#zikulacontentmoduleItemContainer a {
    color: #000;
    margin: 0.1em 0.2em;
    text-decoration: underline;
}
#zikulacontentmoduleItemContainer a:hover,
#zikulacontentmoduleItemContainer a:focus,
#zikulacontentmoduleItemContainer a:active {
    color: #900;
    text-decoration: none;
}

.zikulacontentmodule-finderform fieldset,
.zikulacontentmodule-finderform fieldset legend {
    background-color: #fff;
    border: none;
}
